A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [1]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [2]:
cutlets=pd.read_csv("C:\ExcelR\Data Scientist\Hypothesis Testing\Cutlets.csv")

In [3]:
cutlets.head()

    UnitA   UnitB
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
Unit_A=cutlets['UnitA'].mean()
Unit_B=cutlets['UnitB'].mean()

print('UnitA Mean =',Unit_A, '\nUnittB Mean = ',Unit_B)
print('UnitA Mean > UnitB Mean =',Unit_A>Unit_B)

UnitA Mean = 7.01909142857143
UnittB Mean =  6.964297142857142
UnitA Mean > UnitB Mean = True

Null Hypothesis= H0:μUnitA=μUnitB
Alternative Hypothesis= H1:μUnitA≠μUnitB

In [5]:
alpha=0.05
alpha=0.05
UnitA=pd.DataFrame(cutlets['UnitA'])
UnitB=pd.DataFrame(cutlets['UnitB'])
print(UnitA,UnitB)

     UnitA
0   6.8090
1   6.4376
2   6.9157
3   7.3012
4   7.4488
5   7.3871
6   6.8755
7   7.0621
8   6.6840
9   6.8236
10  7.3930
11  7.5169
12  6.9246
13  6.9256
14  6.5797
15  6.8394
16  6.5970
17  7.2705
18  7.2828
19  7.3495
20  6.9438
21  7.1560
22  6.5341
23  7.2854
24  6.9952
25  6.8568
26  7.2163
27  6.6801
28  6.9431
29  7.0852
30  6.7794
31  7.2783
32  7.1561
33  7.3943
34  6.9405      UnitB
0   6.7703
1   7.5093
2   6.7300
3   6.7878
4   7.1522
5   6.8110
6   7.2212
7   6.6606
8   7.2402
9   7.0503
10  6.8810
11  7.4059
12  6.7652
13  6.0380
14  7.1581
15  7.0240
16  6.6672
17  7.4314
18  7.3070
19  6.7478
20  6.8889
21  7.4220
22  6.5217
23  7.1688
24  6.7594
25  6.9399
26  7.0133
27  6.9182
28  6.3346
29  7.5459
30  7.0992
31  7.1180
32  6.6965
33  6.5780
34  7.3875

In [6]:
import scipy 
tStat,pValue =scipy.stats.ttest_ind(UnitA,UnitB)
print("P-Value:{0} T-Statistic:{1}".format(pValue,tStat))

P-Value:[0.47223947] T-Statistic:[0.72286887]

In [7]:
if pValue <0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

we accept null hypothesis

Inference is that there is no significant difference in the diameters of Unit A and Unit B