TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [1]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [2]:
data=pd.read_csv("C:\ExcelR\Data Scientist\Hypothesis Testing\Costomer+OrderForm.csv")

In [3]:
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [4]:
v1=data.Phillippines.value_counts()
v2=data.Indonesia.value_counts()
v3=data.Malta.value_counts()
v4=data.India.value_counts()
print(v1,v2,v3,v4)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [5]:
con=np.array([[271,267,269,280],[29,33,31,20]])
con

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [6]:
chiStats = stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
print('Test t=%f p-value=%f' % (chiStats[0], chiStats[1]))
print('Interpret by p-Value')

Test t=3.858961 p-value=0.277102
Interpret by p-Value

In [7]:
if chiStats[1] < 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

we accept null hypothesis

In [8]:
alpha = 0.05
critical_value = stats.chi2.ppf(q = 1 - alpha,df=chiStats[2])
observed_chi_val = chiStats[0]
print('Interpret by critical value')

Interpret by critical value

In [9]:
if observed_chi_val <= critical_value:
       print ('Null hypothesis cannot be rejected (variables are not related)')
else:
       print ('Null hypothesis cannot be excepted (variables are not independent)')

Null hypothesis cannot be rejected (variables are not related)

Inference is that proportion of defective % across the center is same.