A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [1]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [2]:
data=pd.read_csv("C:\ExcelR\Data Scientist\Hypothesis Testing\LabTAT.csv")

In [3]:
data.head()

   Laboratory1  Laboratory2  Laboratory3  Laboratory4
0       185.35       165.53       176.70       166.13
1       170.49       185.91       198.45       160.79
2       192.77       194.92       201.23       185.18
3       177.33       183.00       199.61       176.42
4       193.41       169.57       204.63       152.60

In [4]:
Laboratory_1=data['Laboratory1'].mean()
Laboratory_2=data['Laboratory2'].mean()
Laboratory_3=data['Laboratory3'].mean()
Laboratory_4=data['Laboratory4'].mean()

print('Laboratory1 Mean = ',Laboratory_1)
print('Laboratory2 Mean = ',Laboratory_2)
print('Laboratory3 Mean = ',Laboratory_3)
print('Laboratory4 Mean = ',Laboratory_4)

Laboratory1 Mean =  178.36158333333339
Laboratory2 Mean =  178.9029166666668
Laboratory3 Mean =  199.91325000000003
Laboratory4 Mean =  163.6827499999999

Null Hypothesis= H0:μ1=μ2=μ3=μ4=μ5
Alternative Hypothesis= H1:μ1≠μ2≠μ3≠μ4

In [5]:
print('Laboratory_1 > Laboratory_2 = ',Laboratory_1 > Laboratory_2)
print('Laboratory_2 > Laboratory_3 = ',Laboratory_2 > Laboratory_3)
print('Laboratory_3 > Laboratory_4 = ',Laboratory_3 > Laboratory_4)
print('Laboratory_4 > Laboratory_1 = ',Laboratory_4 > Laboratory_1)

Laboratory_1 > Laboratory_2 =  False
Laboratory_2 > Laboratory_3 =  False
Laboratory_3 > Laboratory_4 =  True
Laboratory_4 > Laboratory_1 =  False

In [6]:
alpha=0.05
Lab1=pd.DataFrame(data['Laboratory1'])
Lab2=pd.DataFrame(data['Laboratory2'])
Lab3=pd.DataFrame(data['Laboratory3'])
Lab4=pd.DataFrame(data['Laboratory4'])
print(Lab1,Lab1,Lab3,Lab4)

     Laboratory1
0         185.35
1         170.49
2         192.77
3         177.33
4         193.41
..           ...
115       178.49
116       176.08
117       202.48
118       182.40
119       182.09

[120 rows x 1 columns]      Laboratory1
0         185.35
1         170.49
2         192.77
3         177.33
4         193.41
..           ...
115       178.49
116       176.08
117       202.48
118       182.40
119       182.09

[120 rows x 1 columns]      Laboratory3
0         176.70
1         198.45
2         201.23
3         199.61
4         204.63
..           ...
115       193.80
116       215.25
117       203.99
118       194.52
119       221.49

[120 rows x 1 columns]      Laboratory4
0         166.13
1         160.79
2         185.18
3         176.42
4         152.60
..           ...
115       172.68
116       177.64
117       170.27
118       150.87
119       162.21

[120 rows x 1 columns]

In [7]:
tStat, pValue = stats.f_oneway(Lab1,Lab2,Lab3,Lab4)
print("P-Value:{0} T-Statistic:{1}".format(pValue,tStat))

P-Value:[2.11567089e-57] T-Statistic:[118.70421654]

In [8]:
if pValue < 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

we reject null hypothesis

Inference is that there no significant difference in the average TAT for all the labs.